
@{
  Layout = "_Layout";
}

    <div class="container well-gametop text-center">
      <h1>COMBAT!</h2>
        <div>
          @if(@Model["message"][0] !="" )
          {
            @for (var i = 0; i < @Model["message"].Length; i++)
            {
              @Model["message"][i]<br>
            }
          }
          <p>
              <ul>
              <li><a href="/game/combat/attack/@Model["room"].GetId()/">ATTACK</a></li>

              <li><a href="/game/combat/flee/@Model["room"].GetId()">FLEE</a></li>
              </ul>
              </p>
        </div>
        <a href="/game">Back</a>
    </div>
