@{
  Layout = "_Layout";
}
<div class = "container well-gametop text-center">
<h3>You Are Carrying: </h3>
@if(@Model["stuff"].Count > 0)
{
  @foreach(var item in @Model["stuff"])
  {
    <h3>@item.GetName() | <a href="/drop/item/@item.GetId()">DROP</a></h3> 
  }
}
else
{
  <h3>No Items.</h3>
}

<a href="/game">Back</a>
</div>
<!--
<form action="" method="post">
<p><label for="text1">First Number:</label><br>
<input type="text" name="text1"></p>
<p><label for="text2">Second Number:</label><br>
<input type="text" name="text2"></p>
<p><input type="submit" value=" Add "></p>
</form>
-->
